@model Fretboard_Theory_Course.Models.Resources

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resources</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResourceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceType)
        </dd>
    </dl>
    <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>
            @foreach (var item in Model.Images)   
            {
                <tr>
                    <img src="@item.Path" alt="cool image goes here"/>
                </tr>
            }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResourcesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
